@albatrosdeveloper:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
@AlbatrosDeveloper:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
